aws_region = "dummy-region"

project_name = "dummy-project-name"

vpc_cidr = "10.0.0.0/16"

public_subnet_cidrs = [
  "10.0.1.0/24",
  "10.0.2.0/24"
]

private_subnet_cidrs = [
  "10.0.10.0/24",
  "10.0.11.0/24"
]

kubernetes_version = "1.28"

node_group_desired_size = 2
node_group_max_size     = 4
node_group_min_size     = 1

node_instance_types = ["t3.medium"]

node_capacity_type = "ON_DEMAND"

ssh_key_name = null

enable_ssm_access = false

tags = {
  Environment = "dummy-environment"
  ManagedBy   = "Terraform"
  Project     = "dummy-project"
  Owner       = "dummy-owner"
}

